engine-strict=true
auto-install-peers=true
shamefully-hoist=true
enable-pre-post-scripts=true
ignore-workspace-root-check=true
# In order to run install with --filter
dedupe-peer-dependents=false

# @karabiner-inc:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}